@font-face {
	font-family: 'GothamBold';
	src: url('fonts/Gotha/GothamBold.ttf');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'GothamLight';
	src: url('fonts/Gotha/GothamLight.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'GothamMedium';
	src: url('fonts/Gotha/GothamMedium.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'GothamBook';
	src: url('fonts/Gotha/GothamBook.ttf');
	font-style: normal;
	font-weight: normal;
}

.bor{
	border:1px solid red;
}
*{
	outline: none;
}
body{
	padding: 0;
	margin: 0;
}
.content_main{
	width: 1200px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top:130px;
}
.clear:after{
	content: " ";
	display: block;
	clear: both;
}
.clean{
	clear:both;
}
p{
	margin:0px;
}
i{
	vertical-align: middle;
}
ul{
	margin:0px;
	padding:0px;
}
.pointer{
	cursor: pointer;
}
.center{
	float:none;
	margin:0px auto;
}
.nopad{
	padding:0px;
}
.rightNopadd{
	padding-right:0px;
}
.leftNopadd{
	padding-left:0px;
}
.left{
	float:left;
}
.right{
	float:right;
}
a{
	outline: none;
	text-decoration: none;
	color:inherit;
}
a:hover{
	outline: none;
	text-decoration: none;
	color:inherit;
}
a:focus{
	outline: none;
	text-decoration: none;
	color:inherit;
}




/*______________________________________________HEADER*/



.main_header{
	background-color: #a4d9e7;
	width: 100%;
}
.error_div{
	position: absolute;
	top: -4000px;
	left:0;
	right:0;
	margin:auto;
	border: 1px solid red;
	background: white;
	display: block;
}
.error_text{
	font-family:"PlayfairDisplay" ;
	font-size: 24px;
	color: red;
	text-align: center;
	font-weight: 100;
	padding: 20px;
}
.error_text_2{
	font-family:"PlayfairDisplay" ;
	font-size: 20px;
	color: red;
	text-align: center;
	font-weight: 100;
	padding: 20px;
}
.content{
	width: 1170px;
	margin: 0px auto;
}
.blue{
	background-color: #01598a;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 1px solid #4b86a7;
	color: #fff;
	cursor: default;
	position: relative;
    padding: 10px;
}
.blueleft{
	margin: 0px auto;
}
.blueleft a {
	color: white;
}
.tat{
	float: left;
	margin-top: 0px;
	cursor: pointer;
}
.tat i{
	color: #fd7409;
	padding-left: 10px;
	padding-right: 5px;
}
.tat span{
	text-decoration-line: none;
}
.tat span:hover{
	text-decoration-line: underline;
}
.blueright{
	float: right;
	margin: 0 auto;
}
.blueright a{
	color: white;
}
.signin{
	font-size: 16px;
	padding: 15px;
	float: left;
	cursor: pointer;
}
.signin span{

}
.signin:hover{
	color: #ff7c15;
}

.register{
	font-size: 16px;
	padding: 15px;
	float: left;
	cursor: pointer;
}
.register:hover{
	color: #ff7c15;
}
.regdiv {
	float: right;
	/*border: 2px solid #01598a;*/
	background: #01598a;
	border-radius: 0px 0px 20px 20px;
}
.regdiv h2{
	color: #ff7c15;
	text-align: center;
	cursor: pointer;
}
.regdiv input{
	width: 300px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	text-decoration: none;
	outline: none;
	border: 1px solid #bedaee;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.regdiv label{
	width: 100px;
	font-size: 16px;
	line-height: 35px;
	text-align: right;
	cursor: pointer;
	color: #b4d8e6;
}
.regbtn{
	width: 150px;
	height: 35px;
	background: linear-gradient(to bottom,#ff7c15 0%,#ff5c0f 100%);
	border-radius: 10px;
	outline: none;
	border: none;
	font-size: 16px;
	margin-left: 100px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.signbtn{
	width: 120px;
	height: 35px;
	background: linear-gradient(to bottom,#ff7c15 0%,#ff5c0f 100%);
	border-radius: 10px;
	outline: none;
	border: none;
	font-size: 16px;
	margin-left: 100px;
	margin-bottom: 20px;
	margin-top: 10px;
	float: left;
}
.regbtn2{
	width: 120px;
	height: 35px;
	background: linear-gradient(to bottom,#ff7c15 0%,#ff5c0f 100%);
	border-radius: 10px;
	outline: none;
	border: none;
	font-size: 16px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	float: left;
}
.underheader{
	margin-top: 50px;
}
.logo{
	text-align: center;
}
.logo img{
	height: 50%;
	width: 50%;
}


.serch{

}
.serch input{
	z-index: -10;
	margin-top: 20px;
	width: 100%;
	height: 50px;
	font-size: 21px;
	padding-left: 20px;
	border: 1px solid #3d92cd;
	border-radius: 25px;
	-webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,115,167,.5);
	-moz-box-shadow: inset 0px 0px 6px 0px rgba(0,115,167,.5);
	box-shadow: inset 0px 0px 6px 0px rgba(0,115,167,.5);
	outline: none;
	-webkit-box-shadow: 8px 3px 60px -10px rgba(1,89,138,1);
	-moz-box-shadow: 8px 3px 60px -10px rgba(1,89,138,1);
	box-shadow: 8px 3px 60px -10px rgba(1,89,138,1);
}
.serch input:hover{
	border: 2px solid #fd7409;
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,115,167,.5);
	-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,115,167,.5);
	box-shadow: inset 0px 0px 0px 0px rgba(0,115,167,.5);
	-webkit-box-shadow: 8px 3px 60px -10px rgba(1,89,138,1);
	-moz-box-shadow: 8px 3px 60px -10px rgba(1,89,138,1);
	box-shadow: 8px 3px 60px -10px rgba(1,89,138,1);
}
.serchbtn{
	/*margin-top: -50px;*/
	position: absolute;
	font-family:"PlayfairDisplay" ;
	top: 20px;
	right: 0px;
	float: right;
	height: 50px;
	border-radius: 25px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	border: none;
	font-weight: 700;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;
	background: #0173a7;
	background: -moz-linear-gradient(top,#0173a7 0%,#015282 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0173a7),color-stop(100%,#015282));
	background: -webkit-linear-gradient(top,#0173a7 0%,#015282 100%);
	background: -o-linear-gradient(top,#0173a7 0%,#015282 100%);
	background: -ms-linear-gradient(top,#0173a7 0%,#015282 100%);
	background: linear-gradient(to bottom,#0173a7 0%,#015282 100%);
}
.serchbtn:hover{
	background: -moz-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0173a7),color-stop(100%,#015282));
	background: -webkit-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -o-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -ms-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: linear-gradient(to bottom,#0173a7 0%,#015282 0%);
}
.basketbtn{
	height: 50px;
	text-align: center;
	background: #fd7409;
	background: -moz-linear-gradient(top,#fd7409 0%,#fd5307 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fd7409),color-stop(100%,#fd5307));
	background: -webkit-linear-gradient(top,#fd7409 0%,#fd5307 100%);
	background: -o-linear-gradient(top,#fd7409 0%,#fd5307 100%);
	background: -ms-linear-gradient(top,#fd7409 0%,#fd5307 100%);
	background: linear-gradient(to bottom,#fd7409 0%,#fd5307 100%);
	color: #fff;
	outline-style: none;
	font-size: 17px;
	border-radius: 25px;
	text-decoration: none;
	margin-top: 20px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
}
.basketbtn:hover{
	background: -moz-linear-gradient(top,#fd7409 0%,#fd5307 0%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fd7409),color-stop(100%,#fd5307));
	background: -webkit-linear-gradient(top,#fd7409 0%,#fd5307 0%);
	background: -o-linear-gradient(top,#fd7409 0%,#fd5307 0%);
	background: -ms-linear-gradient(top,#fd7409 0%,#fd5307 0%);
	background: linear-gradient(to bottom,#fd7409 0%,#fd5307 0%);
}
.basketbtn i{
	padding: 10px;
}
.basketbtn span{
	padding: 10px;
}
.example{
	padding: 10px 25px;
}
.example a{
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px dashed;
	display: inline-block;
	line-height: 1;
	color: #033f6d;
}
.total_price{
	text-align: right;
	margin-top: 10px;
}
.main_menu{
	background: #EFFBFB;
	padding: 10px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px -3px 12px -6px rgba(0,115,167,.5), -7px -1px 11px -6px rgba(0,115,167,.5), 7px -1px 11px -6px rgba(0,115,167,.5);
	-moz-box-shadow: 0px -3px 12px -6px rgba(0,115,167,.5),-7px -1px 11px -6px rgba(0,115,167,.5),7px -1px 11px -6px rgba(0,115,167,.5);
	box-shadow: 0px -3px 12px -6px rgba(0,115,167,.5), -7px -1px 11px -6px rgba(0,115,167,.5), 7px -1px 11px -6px rgba(0,115,167,.5);
}
.main_li{
	display: inline-block;
	list-style: none;
	padding: 15px 0px;


}
.main_li ul{
	list-style: none;
}
.main_hov_li{
	display: none;
	position: absolute;
	background-color: rgb(239, 251, 251);
	z-index: 1000000;
}
.main_li a{
	text-align: center;
	border-right:  0.5px solid #08608d;
	padding-right: 15px;
	padding-left: 15px;

}
.main_hov_li a{
	border: none;
    font-size: 18px;
	color: #0B0B3B ;
	font-family:'GothamBook' ;
	font-weight: 600;
	padding: 0px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 1000;
}
.main_hov_li a:hover{
	border: none;
	font-size: 18px;
	color: #fd7409;
	font-family:'GothamBook' ;
	font-weight: 600;
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 1000;
}
.main_hov_li p{
	margin-bottom: 0px;

}
.main_li span{
	font-size: 16px;
	color: #0b0b3b;
	font-family:'LatoWebBold' ;
	font-weight: 600;
}
.img_div{
	width: 100%;
	overflow: hidden;
	position: relative;


}
.img_div img{
	width: 150%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	display: none;
}
.wrapper{
	margin: 0 auto;
	background: white;
}
.sliderdiv{
	height: 320px;
	position: relative;
	background: white;
    text-align: center;
}
.middle{
    text-align: center;
}
.middle_main{
	float:  none;
	margin: 20px auto;
    text-align: center;
    width: 100%;
}
.prew_sl {
	color: #0173a7;
	font-size: 72px;
	float: left;
	text-align: left;
	position: absolute;
	top: 40%;
	z-index: 100;
	left: 10px;
	cursor: pointer;
}
.next_sl {
	color:#0173a7 ;
	font-size: 72px;
	text-align: right;
	position: absolute;
	top: 40%;
	right: 10px;
	z-index: 100;
	cursor: pointer;
}
.middle{
	float: left;
	position: relative;
}
.middle img{
	/*height: 320px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;  */

}

.myimg img{
	width: 120%;
    text-align: center;
}

.slide_text{

	height: 320px;
	float: left;
}
.slide_text p{
	color: #0173a7;
	font-size: 32px;
	text-align: center;
	margin-top: 100px;
    margin-left: 100px;
}
.under_slider{
	background-color: #a4d9e7;
	width: 100%;
}

.pad{
	padding: 40px 0px
}
.harizont_menu{
	margin-top: 20px;
	border-radius: 10px;
	background: #EFFBFB;
}
.horizont_li ul{
	display: block;
    left: 80px;
}
.horizont_li{
	list-style: none;
	padding-left: 5px;
	border-bottom: 0.5px solid #0B0B3B;
	position: relative;
}
.horizont_li span{
	font-size: 16px;
	color: #0B0B3B ;
	font-family:'GothamBook' ;
	font-weight: 600;
}
.about_apteka{
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
	color: #0B0B3B  ;
}
.about_text{
	line-height: 25px;
	font-size: 16px;
	color: #0B0B3B ;
	font-family:'LatoWebBold' ;
	font-weight: 600;
	letter-spacing: 1.2px ;
}
.top_products{
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
	color: #0B0B3B  ;

}
.product_main{
	padding: 0px 10px 10px 0px;

}
.about_product{
	width: 100%;
	border: 3px solid #b4d8e6 ;
	border-radius: 10px;
	background: white;
	height: 280px;
	box-shadow:  0px 10px 20px -10px rgba(0,115,167,.8);
}
.about_product:hover{
	border: 3px solid  #0173a7;
	cursor: pointer;
	box-shadow: none;
}
.img_helper_main{
	height: 120px;
	padding: 0px 10px;
	font-size: 0;
	margin-bottom: 20px;
}
.img_helper{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	font-size: 16px;
	padding-top: 20px;
}
.img_helper img{
	max-width: 100%;
	max-height: 100px;
	width: auto;
}
.prod_description{
	font-size: 16px;
	height: 100px;
	margin-bottom: 10px;
}
.h1{
	color: #0B0B3B;
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	text-align: left;
}
.description{
	color: #0b0b3b ;

}
product_total_price{
	padding-bottom: 5px;
	bottom: 100px;
	position: absolute;
}
.actual{
	color: #0B0B3B;
	font-size: 16px;
	line-height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 10px 0px;
}
.actual_2{
	color: #0B0B3B;
	font-size: 16px;
	line-height: 25px;
	text-align: left;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 2px;
	padding: 10px 0px;
}
.add_to_card{
	font-size: 16px;
	border-radius: 10px;
	outline: none;
	padding: 8px 12px;
	background: #fd7409;
	background: -moz-linear-gradient(top,#fd7409 0%,#fd5307 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fd7409),color-stop(100%,#fd5307));
	background: -webkit-linear-gradient(top,#fd7409 0%,#fd5307 100%);
	background: -o-linear-gradient(top,#fd7409 0%,#fd5307 100%);
	background: -ms-linear-gradient(top,#fd7409 0%,#fd5307 100%);
	background: linear-gradient(to bottom,#fd7409 0%,#fd5307 100%);
	color: #fff;
	border:none;
}
.add_to_card:hover {
	background: -moz-linear-gradient(top,#fd7409 0%,#fd5307 0%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fd7409),color-stop(100%,#fd5307));
	background: -webkit-linear-gradient(top,#fd7409 0%,#fd5307 0%);
	background: -o-linear-gradient(top,#fd7409 0%,#fd5307 0%);
	background: -ms-linear-gradient(top,#fd7409 0%,#fd5307 0%);
	background: linear-gradient(to bottom,#fd7409 0%,#fd5307 0%);
}
.adventures{
	width: 100%;
	/* background-image: url("../img/icons/zigzag.png");
	padding: 30px 0px; */
}
.adventures:before{
	display: block;
	content: '';
	height: 50px;
	background-image: url('../images/content/icons/zigzagTop.png');
	background-size: 5%;
}
.adventures:after{
	display: block;
	content: '';
	height: 63px;
	background-image: url('../images/content/icons/zigzagBottom.png');
	background-size: 5%;
}
.section{
	/* border: 1px solid red; */
}
.section_img{
	/*border: 1px solid red;*/

}

.section_img img{
	width: 100%;
}
.section_header_title{
	font-weight: bold;
	line-height: 25px;
	font-size: 16px;
	padding-right: 0px;
	color: #085a80;
	font-family: 'LatoWebBold';
	padding-top: 20px;
}
.section_header_text{
	line-height: 25px;
	font-size: 14px;
	padding-right: 0px;
	color: #0B0B3B;
	font-family: 'LatoWebBold';
	margin: 15px 0 10px;
}

.main_prod_div{
	background: #b4d8e6;
}
.prod_div{
	border-radius: 10px;
	background: white;
	margin-top: 20px;

}
.prod_margin{
	padding-right: 0px;
}
.prod_div_img{
	vertical-align: middle;
	font-size: 16px;
	padding-top: 20px;
}
.prod_div_img img{
	height: 250px;
	width: auto;
}
.prod_div_desc{
	margin-top: 70px;
	font-size: 24px;
	color: #0B0B3B;
	font-family: 'LatoWebBold'
}
.prod_div_price{
	position: absolute;
	right: 0px;
	top: 200px;
}
.prod_price{
	font-size: 24px;
	color: #0B0B3B;
	font-family: 'LatoWebBold';
}
.prod_price_aqount{
	font-size: 24px;
	color: #0B0B3B;
	font-family: 'LatoWebBold';
	margin-left: 5px;
	margin-right: 15px;
}
.under_prod_div{
	border-top: 1px solid #0B0B3B ;
}
.under_prod_div p{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	margin-left: 20px;
	color: #0B0B3B;
}
.bold{
	font-weight: bold;
	font-size: 10px;
	color: #0B0B3B;
}
.unbold{
	font-size: 10px;
	color: #0B0B3B;
	font-family: 'LatoWebBold';
}
/*.main_menu{
    padding: 0;
    margin: 0;
    display: table;
    list-style: none;
    width: 100%;
    height: 100%;
    background-color: #edf6fb;
    border-radius: 10px;
}
.shner li{
	width: 100%;
    display: inline-block;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    padding: 10px 10px;
}
*/
.contact_main{
	float: left;
	margin: 0 auto;
}
.contact_main iframe{
	width:100%;
	height: 400px;
	border: 1px solid #0B0B3B;
	border-radius: 10px;
}
.about_us{
	padding: 10px 60px;
	text-indent: 25px;
}
.delivery_div{
	padding: 10px 60px;
	text-indent: 25px;
}
.center_content{
	text-align: right;
}
.contact_title{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
	color: #0B0B3B;
	font-family: 'LatoWebBold';
	padding-top: 10px;
}

.prod_account{
	font-size: 24px;
	color: #0B0B3B;
	font-weight: bold;
	font-family: 'LatoWebBold';
	float: left;
}
.prod_account_number{
	border: 1.5px solid #0B0B3B;
	font-size: 16px;
	border-radius: 10px;
	padding: 8px 10px;
	text-align: center;
	margin-left: 20px;
	outline-style: none;

}
.two_simbols{
	margin-left: 5px;
	padding: 2px;
	float: left;
}
.two_simbols i{
	cursor: pointer;
	color: #0B0B3B;
}
.two_simbols i:hover{
	cursor: pointer;
	color: #6495a9 ;
}
.my_basket{
	text-align: center;
}
.my_basket p{
	font-weight: bold;
	font-size: 22px;
	color: #0B0B3B;
	font-family: 'LatoWebBold';
}
.my_basket_content{

}
.my_basket_content_inner{


}
.main_card{
	margin-top: 80px;
	margin-bottom: 100px;
}
.center{
	float: none;
	margin: 0px auto;
}
.table{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
}
table th{
	text-align: center;
}
.del_from_card{
	cursor: pointer;
}
.total_price{
	font-size: 16px;
	font-weight: bold;
}
.text-center {
	text-align: center;
}
.form-control{
	width: 100px;
	text-align: center;
	float: right;
}
.price_span{
	margin-left: 15px;
}
.order_button{
	outline: none;
	border-radius: 10px;
	border: none;
	height: 40px;
	width: 250px;
	background: #0B0B3B;
	color: white;
}

.modal_log_input{
	margin-bottom: 5px;
	font-size: 18px;
	padding: 7px;
	border: none;
	outline-style: none;
	border-bottom: 2px solid #0B0B3B;
	text-align: left;
	width: 350px;
}
.payment_box{
	margin-top: 30px;
}

.modal-header h4{
	text-align: center;
}
.modal-header h7{
	text-align: center;
}
.modal-dialog{
	width: 450px;
}
.modal-content{
	text-align: center;
	box-shadow: 0px 0px 20px #fff;
}
.modal_button{
	margin-top: 10px;
	color: white;
	outline-style: none;
	padding: 5px 15px;
	border-radius: 10px;
	float: right;
	border: #0173a7;
	background: #0B0B3B;
}
.modal-body{
	margin-bottom: 35px;
}
.modal_button:hover{
	background: -moz-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0173a7),color-stop(100%,#015282));
	background: -webkit-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -o-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -ms-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: linear-gradient(to bottom,#0173a7 0%,#015282 0%);
}
.contact_main input{
	width: 350px;
	height: 35px;
	border-radius: 10px;
	border: none;
	margin: 5px;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	font-size: 16px;
	color: #0B0B3B;
	font-family: 'LatoWebBold';

}
.map_title{
	text-align: left;
	font-size: 20px;
	line-height: 25px;
	font-family: 'LatoWebBold';
	font-weight: bold;
	padding: 5px;
}
.contact_main textarea{
	width: 350px;
	height: 120px;
	max-width: 350px;
	max-height: 120px;
	border-radius: 10px;
	border: none;
	margin: 5px;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	font-family: 'LatoWebBold';

}
.contact_main button{
	width: 350px;
	height: 35px;
	border-radius: 10px;
	border: none;
	margin: 5px;
	color: white;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	font-family: 'LatoWebBold';
	background: #0173a7;
	background: -moz-linear-gradient(top,#0173a7 0%,#015282 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0173a7),color-stop(100%,#015282));
	background: -webkit-linear-gradient(top,#0173a7 0%,#015282 100%);
	background: -o-linear-gradient(top,#0173a7 0%,#015282 100%);
	background: -ms-linear-gradient(top,#0173a7 0%,#015282 100%);
	background: linear-gradient(to bottom,#0173a7 0%,#015282 100%);

}
.contact_main button:hover {
	background: -moz-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0173a7),color-stop(100%,#015282));
	background: -webkit-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -o-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: -ms-linear-gradient(top,#0173a7 0%,#015282 0%);
	background: linear-gradient(to bottom,#0173a7 0%,#015282 0%);
}
.contact_right{
	margin-top: 50px;
	text-align: right;
	font-size: 16px;
	font-family: 'LatoWebBold';
	color: #0B0B3B;
	font-weight: bold;

}
.contact_left{
	margin-top: 50px;
	text-align: left;
	font-size: 16px;
	font-family: 'LatoWebBold';
	color: #0B0B3B;

}
.main_footer{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 16px;
	font-family: 'LatoWebBold';
	color: #0f455f;
	cursor: default;
	position: relative;
}
.main_footer i{
	color: #0f455f;
	font-size: 18px;

}
.main_footer span{
	color: #0f455f;
	font-size: 16px;
	font-family: 'LatoWebBold';
	line-height: 25px;
	margin-left: 5px;
	cursor: pointer;
}
.main_footer_left{
	float: left;
}
.main_footer_middle{
	float: left;
}
.main_footer_right{
	text-align: center;
	color: #0f455f;
}
.main_footer_middle a{
	text-decoration: none;
	color: #0f455f;
}
.main_footer_right img{
	width: 14%;
	padding: 3px;
}
.def_menu_ul{
	display: none;
	top: 0px;
	list-style: none;
	position: absolute;
	z-index: 101;
	background-color: #effbfb;
	margin-left: 130px;
	font-size: 36px;
	border-radius: 0px 5px 5px 0px;
}
.__horz_lis:hover .def_menu_ul li{
    display: block;
}
.horizont_li{
    font-size: 34px;
    background-color: #effbfb;
    color: #0f455f;
}
.horizont_li:hover{
    color: #fd7409;
}
.def_menu_ul li {
	display: none;
}
.def_menu_ul li{
	font-size: 18px;
	padding: 8px 18px;
	cursor: pointer;
	color: #0B0B3B;
	font-family: 'GothamBook';
	font-weight: 600;
	margin-left: 10px;
    margin-top: 10px;
    border-bottom: 0.5px solid #0B0B3B;
}
.def_menu_ul li:hover{
	font-size: 18px;
	padding: 8px 18px;
	cursor: pointer;
	color: #fd6308;
	font-family: 'GothamBook';
	font-weight: 600;
	margin-left: 10px;
	margin-top: 10px;
	border-bottom: 0.5px solid #0B0B3B;
}
.main_ul{
	list-style: none;
	font-size: 48px;
	float: left;
	padding: 0px;
	margin-left: 20px;
	margin-right: 20px;
}
.main_menu_g{
	font-size: 18px;
	padding: 3px 20px;
	cursor: pointer;
	color: #0B0B3B;
	font-family: 'GothamBook';
	font-weight: 600;
}

































@media only screen  and (max-width: 480px){
	.content{
		width: 100%;

	}
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

